{{ define "main" }}
{{ $data := .Site.Data}}
<section {{ with .Params.mainSectionId}}id="{{.}}" {{end}}>
    <div class="content">
        <article>
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            {{ with .Page.Params.external_resources }}
            <section>
                <header>
                    <h3><i class="icon fa-download"></i> Software and resources</h3>
                </header>
                <ul>
                    {{ range . }}
                    <li>
                        <a href="{{ .link }}" target="_blank" title="{{ .name }}">
                            {{ with .icon }}<i class="icon fa-{{ . }}"></i> {{ end }}
                            {{- .name -}}
                        </a>{{ with .more}} &middot; {{ . }}{{end}}
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
            {{ with .Page.Params.people }}
            <section>
                <header>
                    <h3><i class="icon fa-users"></i> People</h3>
                </header>
                <ul>
                    {{ range . }}
                    <li>
                        {{ partial "personlink" (dict "data" $data "person" .key ) }}
                        {{ with .more}} &middot; {{ . }}{{end}}
                    </li>
                    {{ end }}
                </ul>
            {{ end }}
            {{ with .Page.Params.collaborators }}
                <span>Collaborators:</span>
                    <ul>

                        {{ range . }}
                        <li>
                            {{- with .link -}}<a href="{{ . }}" target="_blank">{{ end }}
                            {{ .name }}
                            {{- with .link -}}</a>{{ end }}
                            {{- with .more }} &middot; {{ . }}{{end}}
                            </li>
                        {{ end }}
                    </ul>
            {{ end }}
            {{ with .Page.Params.people }}

            </section>
            {{ end }}
            {{ with .Page.Params.funding }}
            <section>
                <header>
                    <h3><i class="icon fa-university"></i> Funding</h3>
                </header>
                <ul>
                    {{ range . }}
                    <li>
                        {{ with .link }}
                            <a href="{{ . }}" target="_blank">
                        {{ end }}
                        {{ .name}}
                        {{- with .link -}}</a>{{ end }}
                        {{ with .more}} &middot; {{ . }}{{end}}
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
            {{ with .Page.Params.publications }}
            <section>
                <header>
                    <h3>Publications</h3>
                </header>
                <ul>
                    {{ range . }}
                    <li>
                        {{ partial "publication-li" (dict "data" $data "pub" (index $data.publications.publications .) ) }}
                    </li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
        </article>
    </div>
</section>
{{ end }}