<section>
    <header class="major">
        <h2>Get in touch</h2>
    </header>
    <ul class="contact">
        <li class="fa-envelope-o"><a href="mailto:volkamer@cs.uni-saarland.de">volkamer@cs.uni-saarland.de</a></li>
        <li class="fa-phone"><a href="tel:+4930450528504"></a>+49 681 302 50801</a></li>
        <li class="fa-home">Prof. Dr. Andrea Volkamer<br />
            Data Driven Drug Design<br /><br />
            Building E2.1<br />
            Saarland University<br />
            Saarbrücken<br />
            Germany<br />
            <a href="https://www.uni-saarland.de/fileadmin/upload/footer/lageplan/saarbruecken.pdf"
                target="_blank">Map</a>
        </li>
    </ul>
</section>