<section>
    <header class="major">
        <h2>Get in touch</h2>
    </header>
    <ul class="contact">
        <li class="fa-envelope-o"><a href="mailto:andrea.volkamer@charite.de">andrea.volkamer@charite.de</a></li>
        <li class="fa-phone"><a href="tel:+4930450528504"></a>+49 30 - 450 528 504</a></li>
        <li class="fa-home">JProf. Dr. Andrea Volkamer<br />
            In silico Toxicology and Structural Bioinformatics Group<br /><br />
            <a href="https://physiologie-ccm.charite.de/en/research_at_the_institute/volkamer_lab/"
                target="_blank">Institute of Physiology</a><br />
            Campus Mitte: Virchowweg 6<br />
            Charité Universitätsmedizin<br />
            10117 Berlin<br />
            Germany<br />
            <a href="https://physiologie-ccm.charite.de/en/metas/map/plan/map/ccm_virchowweg_6/" target="_blank">Map</a>
        </li>
    </ul>
</section>