<!-- Menu -->
<nav id="menu">
    <header class="major">
        <h2>Menu</h2>
    </header>
    <ul>
        {{ $current := . }}
        {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Name $current.Title) }}
            {{ $active = or $active (and (eq (trim (path.Dir .URL) "/") $current.Section) (ne $current.Section "")) }}
            <li>
                {{ if .HasChildren }}
                <span class="opener{{if $active}} active current{{end}}" >
                    <a href="{{.URL}}">{{ with .Pre }}<i class="icon fa-{{- . -}}"></i> {{ end }}{{ .Name }}</a>
                </span>
                <ul>
                    {{ range .Children }}
                    <li{{if (eq $current.RelPermalink .URL)}} class="current" {{end}}>
                        <a href="{{.URL}}">{{ with .Pre }}<i class="icon fa-{{- . -}}"></i> {{ end }}{{ .Name }} </a>
                    </li>
                    {{ end }}
                </ul>
                {{ else }}
                <span>
                    <a {{if $active}}class="current"{{end}} href="{{.URL}}">{{ with .Pre }}<i class="icon fa-{{- . -}}"></i> {{ end }}{{ .Name }}</a>
                </span>
                {{ end }}
            </li>
        {{ end }}
    </ul>
</nav>