<article>
    <h3><strong>{{ .name }}</strong></h3>
    {{ if .image }}
        <span class="image right"><img src="{{ .image }}"/></span>
    {{ end }}
    <p><strong>{{ .role }}</strong><br />{{ .project }}</p>
    {{ if .links }}
        <ul class="icons" style="margin-bottom: 0">
            {{ range .links }}
                <li>
                    <a href="{{ .url }}" target="_blank" class="icon fa-{{ .icon }}" title="{{ .text }}">
                        <span class="label">{{ .text }}</span>
                    </a>
                </li>
            {{ end }}
        </ul>
    {{ end }}
</article>
