<!-- Header -->
<header id="header">
    <a href="/index.html" class="logo"><strong>Volkamer</strong> Lab</a>
    <span class="logo">[Work in Progress]</span>
    <ul class="icons">
        <li><a href="mailto:andrea.volkamer@charite.de" target="_blank" class="icon fa-envelope" title="Contact by e-mail"><span class="label">E-mail</span></a></li>
        <li><a href="https://github.com/volkamerlab" target="_blank" class="icon fa-github" title="GitHub"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/andrea-volkamer-a7b74867/" target="_blank" class="icon fa-linkedin" title="LinkedIn"><span class="label">LinkedIn</span></a></li>
        <!-- <li><a href="https://www.researchgate.net/profile/XXXXXXXXXX/contributions" target="_blank" class="icon fa-university" title="ResearchGate"><span class="label">ResearchGate</span></a></li> -->
        <!-- <li><a href="https://scholar.google.es/citations?user=XXXXXXXXXXX" target="_blank" class="icon fa-graduation-cap" title="Google Scholar"><span class="label">Google Scholar</span></a></li> -->
        <li><a href="http://orcid.org/0000-0002-3760-580X" target="_blank" class="icon fa-graduation-cap" title="ORCID"><span class="label">ORCID</span></a></li>
    </ul>
</header>