{{ define "main" }}
{{ $data := .Site.Data }}
<section id="banner">
    <div class="content">
        <article>
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            <ol reversed>
                {{ range sort $data.publications.publications ".date" "desc" }}
                <li>{{ partial "publication-li" (dict "data" $data "pub" . )}}</li>
                {{ end }}
            </ol>
        </article>
    </div>
</section>
{{ end }}