{{ define "main" }}
<section id="banner">
    <div class="content">
        <article>
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            <section>
                <header><h2>Team Leader</h2></header>
                <div class="posts">
                {{ range .Site.Data.team.team.members }}
                    {{ if eq .role "Team leader" }}
                        {{ partial "person" . }}
                    {{ end }}
                {{ end }}
                </div>
            </section>
            <section>
                <header><h2>Members</h2></header>
                <div class="posts">
                {{ range .Site.Data.team.team.members }}
                    {{ if ne .role "Team leader" }}
                        {{ partial "person" . }}
                    {{ end }}
                {{ end }}
                </div>
            </section>
            {{ if .Site.Data.team.team.alumni }}
            <section>
                <header><h2>Alumni</h2></header>
                <ul>
                    {{ range $.Site.Data.team.team.alumni }}
                    <li><strong>{{ .name }}</strong> ({{ .role }})<br />
                        {{ .project }}</li>
                    {{ end }}
                </ul>
            </section>
            {{ end }}
        </article>
    </div>
</section>
{{ end }}