{{ define "main" }}
<section>
    <div class="content">
        <article>
            <header class="major">
                <h1>{{ .Title }}</h1>
            </header>
            {{ .Content }}
            <section>
                <header>
                    <h2>Group Leader</h2>
                </header>
                <div class="posts">
                    {{ range where .Site.Data.team.members ".status" "teamleader" }}
                    {{ partial "person" . }}
                    {{ end }}
                </div>
            </section>
            <section>
                <header>
                    <h2>Members</h2>
                </header>
                <div class="posts">
                    {{ range where .Site.Data.team.members ".status" "member" }}
                    {{ partial "person" . }}
                    {{ end }}
                </div>
            </section>
            <section>
                <header>
                    <h2>Associated members</h2>
                </header>
                <div class="posts">
                    {{ range where .Site.Data.team.members ".status" "associate" }}
                    {{ partial "person" . }}
                    {{ end }}
                </div>
            </section>
            <section>
                <header>
                    <h2>Students</h2>
                </header>
                <div class="posts">
                    {{ range where .Site.Data.team.members ".status" "studentmember" }}
                    {{ partial "person" . }}
                    {{ end }}
                </div>
                <!--
                To roll back to old format, remove the above <div> above
                and substitute with the <ul> below.

                <ul>
                    {{ range where $.Site.Data.team.members ".status" "studentmember" }}
                    <li id="{{- .key -}}"><strong>{{ with .prefix }}{{- . }} {{ end }}{{ .name }}</strong> ({{ .role }})<br />
                        {{ .project }}</li>
                    {{ end }}
                </ul>
-->
            </section>
            <section>
                <header>
                    <h2>Alumni</h2>
                </header>
                <ul>
                    {{ range where $.Site.Data.team.members ".status" "alumni" }}
                    <li id="{{- .key -}}"><strong>{{ with .prefix }}{{- . }} {{ end }}{{ .name }}</strong> ({{ .role }})
                        <a href="{{ .contact_link }}">{{ with .contact_text }}{{- . }} {{ end }}</a> <br />
                        {{ .project }}
                    </li>
                    {{ end }}
                </ul>
            </section>
        </article>
    </div>
</section>
{{ end }}