name: CI

on:
  push:
    branches:
      - "master"
  pull_request:
    branches:
      - "master"
      # TODO: Remove once launch is merged
      - "launch"
  schedule:
    # Nightly tests run on master by default:
    #   Scheduled workflows run on the latest commit on the default or base branch.
    #   (from https://help.github.com/en/actions/reference/events-that-trigger-workflows#scheduled-events-schedule)
    - cron: "0 0 * * *"

jobs:
  broken-links:
    name: Check 404s
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.65.3"
          extended: true
      - name: Build & check
        run: |
          hugo
          npx linkinator ./public --recurse --retry --timeout=5000 --concurrency 1 --skip \
            'https://github.com/volkamerlab/CADDCourse2020,
             https://github.com/volkamerlab/CADDSeminar_2020,
             https://github.com/volkamerlab/CADDSeminar_2019,
             https://github.com/volkamerlab/ratar,
             https://dx.doi.org/10.1002/cmdc.201900328,
             https://dx.doi.org/10.1002/ardp.202100123,
             https://dx.doi.org/10.1007/s10822-020-00310-4,
             https://www.einsteinfoundation.de/en/people-projects/einstein-bih-visiting-fellows/john-chodera/,
             https://www.einsteinfoundation.de/en/programmes/einstein-bih-visiting-fellow/,
             https://systemsbiology.columbia.edu/faculty/mohammed-alquraishi,
             https://systemsbiology.columbia.edu/,
             linkedin.com,
             html5up.net,
             gepris.dfg.de,
             https://www.csc.edu.cn/'
